---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const identity = {
	firstName: "Ceora",
	ocupation: "Developer Advocate",
	hobbies: ["painting", "anime"]
};

const skills = ["javascript", "next.js", "react"];

const skillColor = "navy";
---
<BaseLayout pageTitle={pageTitle}>
	<p> hi there :) my name is {identity.firstName}. </p>
	<p>my skills</p>
	<ul>
		{skills.length === 3 ? skills.map((skill) => <li class="skills">{skill}</li>) : <p> more to be added soon</p>}
	</ul>
</BaseLayout>
