---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
	<p> Here are my blog posts</p>
		<ul class='blogpage-list'>
			{allPosts.map((post: any) => 
				<li>
					<a href={post.url}>{post.frontmatter.title}</a><br/>
					{post.frontmatter.description}
				</li>
			)}
		</ul>
</BaseLayout>
