---
import Social from './Social.astro';
---
<footer>
  <p>Learn more about my projects! </p>
  <Social platform='twitter' username='ceeoreo_' />
  <Social platform='github' username='ceeoreo' />
  <Social platform='twitch' username='ceeoreo' />
  <Social platform='instagram' username='ceeoreo' />
</footer>