---
import Social from './Social.astro';
---
<style>
  
</style>

<footer>
  <p>Learn more about my projects! </p>
  <Social platform='twitter' username='ceeoreo_' />
  <Social platform='github' username='ceeoreo' />
</footer>