---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header>
  <h1><a href='/' class='title'>ceeoreo.dev</a></h1>
  <Hamburger />
  <Navigation />
</header>